<div class="follow-step-block">
  <div class="follow-step-icon">
    <i class="allStart approvebuyStart fa fa-check-circle grey"></i>
    <i class="allProgress approvebuyProgress fa fa-spinner fa-pulse hide"></i>
    <i class="allDone approvebuyDone fa fa-check-circle hide"></i>
  </div>
  <div class="follow-step-content">
    <h4><%= t('collections.show.inr_payment')%></h4>
    <p class="para-color"><%= t('collections.show.fund_received')%></p>
  </div>
  <div class="follow-step-button">
    <a href="javascript:void(0)" class="allStart approvebuyStart disabledLink grey"><%= t('shared.done')%></a>
  </div>
</div>