<div class="tab">
    <% if @activities.present? %>
        <table>
        <% @activities.each do |activity| %>
            <%= render "activities/collection_card_activity", activity: activity %>
        <% end %>
        </table>
    <% else %>
        <p> No History yet! </p>
    <% end %>
</div>