<% if collections.present? %>
  <% collections.each do |collection| %>
  <%= render "/dashboard/collection_card", collection: collection %>
  <% end %>
<%  else %>
  <p style="text-align:center" class="no-data"> No NFT's Found </p>
<% end %>
