<section class="nft-box-section">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Curated From ALL</h1>
        </div>
    </div>
    <div class="row">
        <% if @curated_nfts.present? %>
            <% @curated_nfts.each do |collection| %> 
                <%= render "dashboard_collection_card", collection: collection %>
            <% end %>
        <% else %>
            <% 1.times do %>
                <div class="col-12">
                    <%= render partial: 'common/empty' %>
                </div>
            <% end %>
        <% end %>
    </div>
    </div>
</section>