<%hidden_field_tag "contract_address", contract.address%>
<li>
    <div class="modeling-artist-list_detail">
        <img src="<%=contract.attachment_url%>">
        <div class="modeling-artist-list_detail_pincode">
            <h6> <a> <%=contract.name%> </a> </h6>
            <!-- <a><%=contract.description%></a> -->
            <a href="<%= nft_contract_path(contract.address)%>">
            <img src="../../assets/nft/modeling/link.svg" class="edit-icon">
            </a>
        </div>
    </div>
</li>
