<main class="NFT-detail main mt-0">
  <div class="container bg-effect">
    <div class="row row--grid">
      <!-- title -->
      <div class="col-12">
        <div class="main__title main__title--page">
          <h1>Collections</h1>
        </div>
      </div>
      <!-- end title -->
    </div>
    <div class="filters-content">
      <div class="row row--grid">
          <%if @own_contract.present? %>
            <%@own_contract.all.each do |single_contract|%>
              <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <%= render 'dashboard/own_contract', contract: single_contract %>
              </div>
            <%end%>
          <%else%>
            <% 1.times do%>
              <div class="col-12">
                <%= render partial: 'common/empty' %>
              </div>
            <%end%>
          <%end%>
    </div>
    <!-- paginator -->
    <% if @own_contract.present? %>
          <div class="row">
          <div class="col-12">
            <div class="flickr_pagination">
              <%= will_paginate @own_contract %>
            </div>
          </div>
        </div>
      <%end%>  
    <!-- end paginator -->
  </div>
</main>
