<main class="nft_home">
   <div class="nft_landing_body">
      <section class="hero-section">
         <div class="container">
            <div class="row">
               <div class="col-md-7" >
                  <h1>We’re on a mission to make NFTs accessible to ALL.</h1>
                  <p>Join us as we discover and celebrate NFTs of all styles, from all kinds, to all people.<br> <span class="banner-bold-text"> #NFTforALL</span></p>
                  <div class="btn-hero-b"><a>Create</a></div>
                  <div class="btn-hero-w"><a href="/search">Collect</a></div>
                  <div style="clear:both ;"></div>
               </div>
               <div class="col-md-5">
                  <div class="banner-box">
                     <img src="assets/landing_page/nft-img.jpg">
                     <h2>By All Creators</h2>
                  </div>
               </div>
            </div>
         </div>
         <!-- <div class="hero-section-logo"><img src="assets/landing_page/logo-bottom-img.png"></div>-->
      </section>
      <%= render partial: 'curated_nft' %>
      <%= render partial: 'trending_nft' %>
      <%= render partial: 'common/create_nft' %>
   </div>
</main>
<script>
   // $(document).ready(function(){
   //   $(".accordion").click(function(){
   //     $("p").toggleClass("main");
   //   });
   // });
   
   
   
   // let slideIndex = 1;
   // showSlides(slideIndex);
   
   // function plusSlides(n) {
   //   showSlides(slideIndex += n);
   // }
   
   // function currentSlide(n) {
   //   showSlides(slideIndex = n);
   // }
   
   // function showSlides(n) {
   //   let i;
   //   let slides = document.getElementsByclass("mySlides");
   //   let dots = document.getElementsByclass("dot");
   //   if (n > slides.length) {slideIndex = 1}    
   //   if (n < 1) {slideIndex = slides.length}
   //   for (i = 0; i < slides.length; i++) {
   //     slides[i].style.display = "none";  
   //   }
   //   for (i = 0; i < dots.length; i++) {
   //     dots[i].class = dots[i].class.replace(" active", "");
   //   }
   //   slides[slideIndex-1].style.display = "block";  
   //   dots[slideIndex-1].class += " active";
   // }
   
   
   $(document).ready(function(){
     $(".close-top-notify").click(function(){
       $(".NFT_SCREEN").addClass("close-nav");
     });
   });
   $(document).ready(function(){
     $(".close-top-notify").click(function(){
       $(".NFT_SCREEN_Header").addClass("close-nav");
     });
   });
   
  

   $(document).ready(function(){
     $(".nft-welcome-btn button").click(function(){
       $("body").addClass("open-modal");
     });
   });
   $(document).ready(function(){
     $(".nft-welcome-btn button").click(function(){
       $(".notify-inbox-message").addClass("open-modal");
     });
   });
   
   $(document).ready(function(){
     $(".close-icon").click(function(){
       $("body").removeClass("open-modal");
       $(".notify-inbox-message").removeClass("open-modal");
     });
   });
   
   
   var acc = document.getElementsByClassName("accordion");
   var i;
   
   for (i = 0; i < acc.length; i++) {
     acc[i].addEventListener("click", function() {
       this.classList.toggle("active");
       var panel = this.nextElementSibling;
       if (panel.style.maxHeight) {
         panel.style.maxHeight = null;
       } else {
         panel.style.maxHeight = panel.scrollHeight + "px";
       } 
     });
   }

   $(".btn-hero-b").click(function(){
       $("#create-collectible-modal").addClass("open-modal");
       $("body").addClass("open-modal");
     });
   
</script>