
<% follows.each do |follow| %>
    <div class="member-detail">
        <a>
        <span>  
          <%= image_tag url_for(follow.profile_image) %> 
        </span>
        <strong> @<%= follow.full_name %>
        </strong>
        </a>      
    </div>
<% end %>





