<div class="col-12">
    <% if params[:page_no].to_i < @data.total_pages and @data.present?%>
        <div class="row">
            <div class="col-md-12 pt-15 pb-15">
                <div class="load-more-items">
                    <a href="javascript:void(0)" data-page-no="2" category="" class="user-dashboard-load-more">Load More NFTs</a>
                </div>
            </div>
        </div>
    <% end %>
</div>