<div class="modeling-artist-list">
    <ul>
        <%if @data.present? %>
            <%@data.all.each do |single_contract|%>
                <%= render 'dashboard/own_contract', contract: single_contract %>
            <% end %>
        <% else %>
            <p class="no-data"> No Collection's Found </p>
        <%end%>
    </ul>
</div>
