<section class="pt-50 pb-50">
	<div class="container">

		<div class="row pb-50">
			<div class="col-md-12">
				<div class="content-block">
					<a href="<%= root_path %>" class="home-back-btn">
						<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.94531 18.0156L10.7266 17.2734C10.9219 17.0781 10.9219 16.7656 10.7266 16.6094L4.67188 10.5156H18.0312C18.2656 10.5156 18.5 10.3203 18.5 10.0469V8.95312C18.5 8.71875 18.2656 8.48438 18.0312 8.48438H4.67188L10.7266 2.42969C10.9219 2.27344 10.9219 1.96094 10.7266 1.76562L9.94531 1.02344C9.78906 0.828125 9.47656 0.828125 9.28125 1.02344L1.11719 9.1875C0.921875 9.38281 0.921875 9.65625 1.11719 9.85156L9.28125 18.0156C9.47656 18.2109 9.78906 18.2109 9.94531 18.0156Z" fill="black"></path></svg>
						<span>Back to homepage</span>
					</a>
					<h3 class="about-us-content-heading">ABOUT US</h3>

					
				</div>
			</div>
		</div>

		<div class="content-block">
			<div class="row pb-50">
				<div class="col-md-6 order-lg-2 order-md-2 order-sm-1">
					<img class="img-responsive about-img-custom img-width-four-five mt-20" src="/assets/about _us.png">
				</div>
				<div class="col-md-6 order-lg-1 order-md-1 order-sm-2">
					<div class="about-parent">
						<p class="about-us-content-para">Founded in 2019, CrossTower, ranked fourth in the world by Cryptocompare, is a crypto
						exchange with capital market capabilities. CrossTower’s global reach provides best-in-class
						services and products tailored to the needs of retail traders and institutions, including hedge
						funds, family offices, endowments, pensions, and other market participants. CrossTower
						leverages its vast experience in trading, technology, operational infrastructure, innovative
						pricing, regulations, and compliance to make cryptocurrency and digital assets accessible to
						retail and sophisticated institutional market participants. CrossTower’s NFT Marketplace is
						the sole NFT marketplace with a financial ecosystem focused on community, collaborative
						projects, and artist-driven initiatives. CrossTower has offices located in the US, Bermuda,
						and India.</p>

						
					</div>
				</div>
			</div>
		</div>
		

		<div class="content-block">
			<div class="row pb-50">
				<div class="col-md-6 order-lg-1 order-md-1 order-sm-1">
					<img class="img-responsive about-img-custom img-width-four-five" src="/assets/about_us_2.png">
				</div>
				<div class="col-md-6 order-lg-2 order-md-2 order-sm-2">
					<div class="about-parent int-var-custom">
						<p class="about-us-content-para">CrossTower NFT is a dedicated marketplace designed to give high-end buyers and sellers a
						platform to create, buy and sell exclusive NFTs. Unlike other NFT platforms, CrossTower is a
						premium and unique spot to pick the best collectibles from all over the world. What
						differentiates us from alternate NFT Marketplaces is our usability, authenticity, and the
						rarity and value of our NFT Collections that we offer. We have launched our Marketplace
						with the goal of bringing NFTs to the next level.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="content-block">
			<div class="row pb-50">
				<div class="col-md-12 order-lg-1 order-md-1 order-sm-2">
					<div class="about-parent">
						<div class="about-parent">
						<h3 class="about-us-content-heading header-three-one">TEAM</h3>

						<div class="row justify-content-center align-items-center mt-50 mb-20">
							<div class="col-12 col-sm-12 col-md-6">
								<div class="team-layer">
									<img src="/assets/kapil.png" class="img-responsive img-team-player">
									<h4>KAPIL RATHI</h4>
									<p>CEO & CO-FOUNDER</p>
									<a href="https://www.linkedin.com/in/kapilrathi/" target="_blank" class="linkin-link">
										<i class="fa fa-linkedin"></i>
										<span>LinkedIn</span>
										<i class="fa fa-hand-o-right"></i>
									</a>
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-6">
								<h4><strong>KAPIL RATHI – CEO &amp; CO-FOUNDER</strong></h4>
								<p class="about-us-content-para">As the co-founder, Kapil Rathi has almost 30 years of experience in the financial services industry. Before CrossTower, he was the COO at Alphapoint and held senior leadership roles at NYSE, Bats, ISE, and Cboe. Over the years, he has managed four equity options exchanges at Cboe, launched a new options exchange at Bats and built a variety of trading products at ISE. He has an MBA from Fordham University.</p>
							</div>
						</div>

						<div class="row justify-content-center align-items-center mt-50 mb-15">
							<div class="col-12 col-sm-12 col-md-6 order-md-2">
								<div class="team-layer">
									<img src="/assets/kristin.png" class="img-responsive img-team-player">
									<h4>KRISTIN BOGGIANO</h4>
									<p>PRESIDENT &amp; CO-FOUNDER</p>
									<a href="https://www.linkedin.com/in/kristinboggiano/" target="_blank" class="linkin-link">
										<i class="fa fa-linkedin"></i>
										<span>LinkedIn</span>
										<i class="fa fa-hand-o-right"></i>
									</a>
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-6 order-md-1">
								<h4><strong>KRISTIN BOGGIANO – PRESIDENT &amp; CO-FOUNDER</strong></h4>
								<p class="about-us-content-para">Kristin carries over 20 years of experience in Capital Markets and is an expert in Digital Assets. Before starting CrossTower, she was the Chief Legal Officer at Alphapoint. At Guggenheim Partners and Schulte Roth and Zabel, she supported her clients focusing on the legislative and regulative strategies on all matters related to the traditional finance as well as fintech. During this role, she founded the Structured Products and Derivatives division, Digital Asset Legal Alliance (DARLA) and Women in Derivatives (WIND). She has a law degree and MBA at Northeastern University and a BA from Sarah Lawrence College.</p>
							</div>
						</div>
						
						
							<!-- <h4><strong>VIKAS AHUJA – CEO, INDIA</strong></h4>
							<p class="about-us-content-para">Vikas is CEO of CrossTower - India. He has 20+ years of experience in business leadership and
							building businesses from inception. He has worked at Senior Leadership roles at Goldman Sachs, UK.
							He has also worked as Technical Lead at Sony, Singapore and Conoco, UK. Vikas holds a Bachelors
							degree in Computer Science Engineering from the Technological Institute of Textile &amp; Sciences.</p> -->

						</div>
					</div>
				</div>
			</div>
		</div>
		

	</div>	
</section>
