<section class="faq-section"  style="background-image: url(/assets/wall-wallpaper.jpg);">
	<div class="container-fluid padding-lr-custom-50">
		<div class="row ml-0 mr-0">
			<div class="col-md-12">
				<div class="faqHeading text-center">
					<h2>All About NFTs</h2>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="pt-50 pb-50">
	<div class="container">
		<div class="">

			<div class="accordion">
				<div class="row pb-50">
					<div>	
						<div class="col-md-6 pull-right text-center">
							<video width="80%" autoplay muted>
								<source src="/assets/gif_faq.mp4" type="video/mp4">
							</video>
						</div>	
						<div class="col-md-6 pull-left">
							<div class="accordion__item">
								<div class="accordion__title">
									<span class="accordion_number_custom">01</span>
									<span class="accordion_content_custom">What are NFTs?</span>
								</div>
								<div class="accordion__body">
								<div class="accordion__content">
									<p>NFTs (non-fungible tokens) are digital assets stored on a blockchain. These can be
									compared to a physical collector’s item, which is now digital. This means it is an
									indivisible, unique crypto asset. As a crypto collectible, its non-fungibility ensures it
									cannot be mutually exchanged for value. This implies it is not equivalent or similar to
									another NFT. While it can be bought and sold on an open marketplace, no two NFTs
									are identical or interchangeable. This makes NFTs distinct from cryptocurrencies.</p>
								</div>
								</div>
							</div>

							<div class="accordion__item">
								<div class="accordion__title">
									<span class="accordion_number_custom">02</span>
									<span class="accordion_content_custom">What gives value to NFTs?</span>
								</div>
								<div class="accordion__body">
								<div class="accordion__content">
									<p>The value comes from the uniqueness and exclusive nature of NFTs and the
									blockchain technology that powers them. NFTs are also used as digital tokens
									representative of actual artwork and real-estate. This enables people to buy and sell
									NFTs representing tangible assets, while reducing the probability of fraud. NFTs are
									also used to tokenize identities and property ownerships, adding to their value.</p>
								</div>
								</div>
							</div>
							<div class="accordion__item">
								<div class="accordion__title">
									<span class="accordion_number_custom">03</span>
									<span class="accordion_content_custom">Why are some NFTs so costly?</span>
								</div>
								<div class="accordion__body">
								<div class="accordion__content">
									<p>The uniqueness and the immutable proof of ownership makes each NFT exclusive
									and non-interchangeable. Such exclusivity can generate great demand in the market,
									which can drive up the price of an NFT.</p>
								</div>
								</div>
							</div>
						</div>
					</div>	
				</div>

				<div class="row pb-50">
					<div>	
						<div class="col-md-6 pull-left">
							<img class="img-responsive about-img-custom" src="/assets/faq_2.png">
						</div>
						<div class="col-md-6 pull-right">
							<div class="accordion__item">
								<div class="accordion__title">
									<span class="accordion_number_custom">04</span>
									<span class="accordion_content_custom">What is minting an NFT?</span>
								</div>
								<div class="accordion__body">
								<div class="accordion__content">
									<p>When you convert a digital file into a crypto asset and store it on a blockchain, it is
									known as minting an NFT. Once minted, the particular digital item will exist on a
									blockchain, which will make it an immutable crypto collectible.</p>
								</div>
								</div>
							</div>

							<div class="accordion__item">
								<div class="accordion__title">
									<span class="accordion_number_custom">05</span>
									<span class="accordion_content_custom">Why should I mint an NFT?</span>
								</div>
								<div class="accordion__body">
								<div class="accordion__content">
									<p>Minting an NFT gives you an opportunity to showcase your digital art and get the
									best value of it. You can monetize your work and get profit from direct sales. Also,
									there will always be a royalty tied to you in regards to your art.</p>
								</div>
								</div>
							</div>

							<div class="accordion__item">
								<div class="accordion__title">
									<span class="accordion_number_custom">06</span>
									<span class="accordion_content_custom">What do you mean by an NFT drop?</span>
								</div>
								<div class="accordion__body">
								<div class="accordion__content">
									<p>The launch of an NFT with a specific date, time, and price is called a ‘drop.’ However,
									the number of NFTs that can be minted in a single drop could be limited. It can be
									cost-effective to buy NFTs during a drop.</p>
								</div>
								</div>
							</div>
						</div>
					</div>	
				</div>

				<div class="row pb-50">
					<div>	
						<div class="col-md-6 pull-right">
							<img class="img-responsive about-img-custom" src="/assets/faq_3.png">
						</div>	
						<div class="col-md-6 pull-left">
							<div class="accordion__item">
								<div class="accordion__title">
									<span class="accordion_number_custom">07</span>
									<span class="accordion_content_custom">I don’t know much about NFTs and/or blockchain technology. Can I still create an
									NFT?</span>
								</div>
								<div class="accordion__body">
								<div class="accordion__content">
									<p>Yes, of course! At CrossTower, we help creators list NFTs irrespective of their
									familiarity with industry technicalities. Right from the initial consultation on how to
									create an NFT to dropping your first NFT, we’ll be there with you at every step of the
									way.</p>
								</div>
								</div>
							</div>

							<div class="accordion__item">
								<div class="accordion__title">
									<span class="accordion_number_custom">08</span>
									<span class="accordion_content_custom">What NFTs can I create?</span>
								</div>
								<div class="accordion__body">
								<div class="accordion__content">
									<p>The opportunities are endless, but popular categories include art, music, video

									games, virtual fashion, gaming cards/collectible items, domain names, and digital
									items like a social media posts and stories, articles, and even GIFs and memes.</p>
								</div>
								</div>
							</div>

							<div class="accordion__item">
								<div class="accordion__title">
									<span class="accordion_number_custom">09</span>
									<span class="accordion_content_custom">What makes my NFT unique?</span>
								</div>
								<div class="accordion__body">
								<div class="accordion__content">
									<p>The unique token ID generated post minting the NFT is what makes your NFT unique.
									For every NFT you create, you get a unique token ID from Ethereum technology
									attached to your digital assets.</p>
								</div>
								</div>
							</div>
						</div>
						
					</div>	
				</div>

				<div class="row pb-50">
					<div>	
						<div class="col-md-6 pull-left">
							<img class="img-responsive about-img-custom width-cc-nine faq_4" src="/assets/faq_4.png">
						</div>
						<div class="col-md-6 pull-right">
							<div class="accordion__item">
								<div class="accordion__title">
									<span class="accordion_number_custom">10</span>
									<span class="accordion_content_custom">How is the price of an NFT decided?</span>
								</div>
								<div class="accordion__body">
								<div class="accordion__content">
									<p>NFTs are sold via online auctions. While the initial price is fixed based on the average
									cost of similar assets and intensive market research, the market demand for a
									particular NFT can lead to higher biddings. The interest of potential buyers can move
									the price up. Valuation has no role to play in price determination here.</p>
								</div>
								</div>
							</div>

							<div class="accordion__item">
								<div class="accordion__title">
									<span class="accordion_number_custom">11</span>
									<span class="accordion_content_custom">Can I change the price of an NFT I have created?</span>
								</div>
								<div class="accordion__body">
								<div class="accordion__content">
									<p>Yes, that is possible. The creator will first have to unlist the NFT and then relist it.</p>
								</div>
								</div>
							</div>

							<div class="accordion__item">
								<div class="accordion__title">
									<span class="accordion_number_custom">12</span>
									<span class="accordion_content_custom">What are the various modes of payment on the NFT marketplace?</span>
								</div>
								<div class="accordion__body">
								<div class="accordion__content">
									<p>As of now, we accept crypto as a payment method. However, we are adding multiple
									channels to our list to make payment more feasible for you.</p>
								</div>
								</div>
							</div>

						</div>
					</div>			
				</div>

				<div class="row pb-50">
					<div>	

						<div class="col-md-6 pull-right">
							<img class="img-responsive about-img-custom" src="/assets/faq_5.png">
						</div>	
						<div class="col-md-6 pull-left">
							<div class="accordion__item">
								<div class="accordion__title">
									<span class="accordion_number_custom">13</span>
									<span class="accordion_content_custom">I have used other NFT marketplaces before. Can I still use the CrossTower NFT
									marketplace?</span>
								</div>
								<div class="accordion__body">
								<div class="accordion__content">
									<p>Yes, of course! You can still buy and sell NFTs on the CrossTower NFT marketplace website.</p>
								</div>
								</div>
							</div>

							<div class="accordion__item">
								<div class="accordion__title">
									<span class="accordion_number_custom">14</span>
									<span class="accordion_content_custom">Is CrossTower NFT marketplace a safe platform for my NFTs?</span>
								</div>
								<div class="accordion__body">
								<div class="accordion__content">
									<p>Yes! At CrossTower, we prioritize security. Our platform is among the safest and best
									NFT platforms in the world. You can rest assured your NFTs are in good hands.</p>
								</div>
								</div>
							</div>

							<div class="accordion__item">
								<div class="accordion__title">
									<span class="accordion_number_custom">15</span>
									<span class="accordion_content_custom">What is burning NFT?</span>
								</div>
								<div class="accordion__body">
								<div class="accordion__content">
									<p>The process of destroying the created NFT is called burning.</p>
								</div>
								</div>
							</div>
						</div>
						
					</div>		
				</div>

			</div>

		</div>
	</div>	
</section>


<script type="text/javascript">
	const accordion = document.querySelector('.accordion');
	const items = accordion.querySelectorAll('.accordion__item');

	items.forEach((item) => {
	  const title = item.querySelector('.accordion__title');
	  
	  title.addEventListener('click', (e) => {
	    const opened_item = accordion.querySelector('.is-open');
	    
	    // Toggle current item
	    toggle_item(item); 
	    
	    // Close earlier opened item if exists
	    if (opened_item && opened_item !== item) {
	      toggle_item(opened_item);
	    }
	    
	    
	  });
	});

	const toggle_item = (item) => {
	  const body = item.querySelector('.accordion__body');
	  const content = item.querySelector('.accordion__content');
	        
	  if (item.classList.contains('is-open')) {
	    body.removeAttribute('style');
	    item.classList.remove('is-open');
	  }else {
	    body.style.height = body.scrollHeight + 'px';
	    item.classList.add('is-open');
	  }
	}
	  

</script>