.nft_home {
    scroll-behavior: smooth;
}
.nft_landing_body{
    background: #fbfbfb 0% 0% no-repeat padding-box;
    opacity: 1; font-family: 'Hahmlet', serif; font-size: 18px; line-height: 26px;
    color: #162C5B;
    opacity: 1;
}

.nav-tabs, .panel-group .panel-footer+.panel-collapse .panel-body {
    border-bottom:none !important;
}

.hero-section{background: transparent linear-gradient(69deg, #91C5D7 0%, #7CA7D0 10%, #6F93CB 16%, #7168AB 30%, #D75681 53%, #E68548 77%, #EBA441 100%) 0% 0% no-repeat padding-box;
    opacity: 1; min-height: 600px; position: relative;  background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.hero-section-logo{position: absolute; right: 0px; bottom:0px;}  
.hero-section h1{color: #fff; padding: 100px 0px 20px; font: normal normal bold 48px/60px Playfair Display;}
.hero-section p{color: #000;font-size: 18px; padding-bottom: 20px; max-width: 450px;}
.hero-section p span{ font-weight: bold; text-decoration:underline;}
.btn-hero-b{width:auto; float: left; margin: 15px 0px; cursor: pointer;}
.btn-hero-b a{background: #000000 0% 0% no-repeat padding-box; text-decoration: none !important;
    border-radius: 5px; color: #fff !important; font-size: 18px; text-align: center; padding: 8px 25px; font-weight: bold; border: 1px solid #000;}

    .btn-hero-b a:hover{background-color: #fff; color: #000 !important;border: 1px solid #ddd;}

    .btn-hero-w{width:auto; float: left; margin: 15px 10px;}
.btn-hero-w a{background: #fff 0% 0% no-repeat padding-box; text-decoration: none !important;
    background-color: transparent;
    border-radius: 5px; color: #000; font-size: 18px; text-align: center; padding: 8px 25px; border: #000 solid 1px; font-weight: bold;}

    .btn-hero-w a:hover{background-color: #fff; color: #000 !important; border: 1px solid #ddd;}
.banner-box{background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #00000010;
    border-radius: 12px;
    opacity: 1; margin-top: 111px;}

    .banner-box img{width:100%; border-top-left-radius: 10px; border-top-right-radius: 10px;}
    .banner-box h2{text-align: center; color: #000; padding: 15px 0px; margin: 0px; font-size: 20px; font-weight: bold;}

.nft-box-section{margin-top: 20px;}
.nft-box-section h1{ color: #000; padding: 20px; text-align: center; font-size: 28px; font-weight: bold;}
.nft-box{background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #00000029;
    border-radius: 10px;
    opacity: 1; margin-bottom: 30px;
    min-height: 450px;
}
    .price-sub-text{
        padding-top: 13px;
    }
        
    .nft-box-img-box{position: relative;}
    .nft-box-img-box img{width:100%; border-top-left-radius: 10px; border-top-right-radius: 10px;}
    .nft-box-img-box .cover_pic{
        height: 250px;
        object-fit: cover;
    }
    .nft-box-div{padding: 10px 10px 0px}
    .nft-box-div p{
        font-size: 14px; 
        font-weight: bold; 
        padding: 0px; 
        color: #000; 
        margin: 0px;
        white-space: nowrap;
        width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .nft-box-div span{font-size: 13px; font-weight: bold; padding: 0px; color: #3C97F2;}
    .datils-div{display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
       }
.pro-div{width: 34%; padding-left: 5px; margin-bottom: 10px; margin-top: 13px;}
.pro-div img{width: 35px;
    height: 35px;
    min-width: 35px;
    border-radius: 50%;
    object-position: unset;
    object-fit: cover;}
.user-detail{margin-left: 5px;margin-top: 0px;
    width: 80%;}
    .user-detail span{color: #707070; font-size: 11px; font-weight: bold;}
    .user-detail p{padding-bottom: 10px;
    color: #000; font-size: 12px; line-height: 10px;
    white-space: nowrap;
    width: 79px;
    overflow: hidden;
    text-overflow: ellipsis;}
    .nft-icon-box{position: relative; font-weight: bold;  display: block;}
    .dashboard-like-icon{ 
        background-color: transparent !important;
        border: none !important;
        color: #000 !important;
        right: 0px !important;
        bottom: 23px !important;
    }
    .dashboard-like-icon i{ 
        font-size: 21px !important;
    }
    .dashboard-share-menu{
        width: 18px !important;
        margin-left: 36px;
        /*margin-top: -59px;*/
    }
    .icon-div{float: left;  position: absolute; right: 0; }
    .icon-div img{width: 28px;}
    .nft-title-box{background: #F2F2F2 0% 0% no-repeat padding-box;
        border-radius: 5px;
        opacity: 1; padding: 5px; font-size: 14px; color: #000 !important; position: absolute; left: 10px; top: 180px; font-weight: bold;}
         a .nft-title-box{text-decoration: none;color: #000 !important;}

.price-div{ padding: 0px 10px 10px;}
.price-sub{width: 50%; float: left;}
.price-sub p{ font-size: 13px; font-weight: normal; margin: 0px; line-height: 22px; color: #98999D;}
.price-sub span{ font-size: 14px; font-weight: bold; margin: 0px; line-height: 10px; color: #000;}
.price-sub-space{margin-top: 10px;}
.price-sub a { 
    float: right;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    padding: 5px 25px;
    color: #fff !important;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none !important;
}


@media (max-width: 991px) { .banner-box{margin-bottom: 20px;} .nft-title-box{margin-top: 90px;}}

@media (max-width: 768px) {.nft-title-box{margin-top: 90px;} }
  @media (max-width: 767px) {
    
    .nft-title-box{margin-top: 70px;} 
    
    .banner-box{margin-bottom:50px; margin-top: 50px;}
    .hero-section p {
        font-size: 17px;
    }


                }