<% if activity.event == "create" %>
    <div class="member-detail">

      <a>
        <span> <%= image_tag url_for(activity.item.follower.profile_image) %> </span>
        <strong>
          @<%= activity.item.follower.full_name %>
            <em>Started following @<%= activity.item.followee.full_name %></em>
            <i> <%= time_ago_in_words(activity.created_at) %> ago </i>
        </strong>
      </a>

    </div>
<% end %>


