<% if activity.event == "create" && activity.item.user.present? && activity.item.collection.present? %>
    <div class="member-detail">
      <a>
          <span> <%= image_tag url_for(activity.item.user.profile_image) %> </span>
          <strong> 
            @<%= activity.item.user.full_name %>
            <em>Liked <%= activity.item.collection.title %></em>
            <i> <%= time_ago_in_words(activity.created_at) %> ago </i>
          </strong>
      </a>
    </div>
<% end %>
