<div class="pop-bg create-modal create_collectible collection-page" id="create-collectible-modal">
   <div class="pop_content">
      <div class="close-button close-icon"><img src="../../assets/landing_page/cross-button.svg"></div>
      <h2 >Create</h2>
      <div class="row grey-bg">
         <div class="col-sm-6">
            <div class="pop-img-box">
               <div style="text-align:center ;"><img src="../../assets/landing_page/demo-img.png"></div>
               <a href="<%= new_collection_path(type: "single")%>">
                  <div class="pop-img-box-button">1/1</div>
               </a>
            </div>
            <p>Choose “1/1” if you want your 
               collectible to be one of a kind
            </p>
         </div>
         <div class="col-sm-6">
            <div class="pop-img-box">
               <div style="text-align:center ;"><img src="../../assets/landing_page/edit-img.png"></div>
               <a href="<%= new_collection_path(type: "multiple")%>">
                  <div class="pop-img-box-button">Editions</div>
               </a>
            </div>
            <p>Choose “Editions” if you want to sell 
               one collectible multiple times
            </p>
         </div>
      </div>
      <p>We do not own your private keys and cannot access your <br>funds without your confirmation..</p>
   </div>
</div>

<script>

 $(document).ready(function(){
     $(".back-btn").click(function(){
       $("#create-collectible-modal").removeClass("open-modal");
     });

     $(".close-icon").click(function(){
       console.log("hi");
       $(".create-modal").removeClass("open-modal");
       $("body").removeClass("open-modal")
     });
   });

</script>