<div class="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="home__content">
          <!-- <h2  class="home_sub_title">The largest </h2> -->
          <!-- <h2  class="home_sub_title">The largest</h2> -->
          <h1 class="home__title">Home To The World’s Finest NFT Collection</h1>
          <p class="home__text">Collector or creator, the CrossTower NFT Marketplace has something for everyone! Some of
          the top artists in the world have already chosen CrossTower for their first NFT launch. Are
          you ready to explore?</p>

          <div class="home__btns">
              <a href="<%= search_path%>" class="home__btn home__btn--clr" data-turbolinks="false">Discover</a>
<!--               <a href="<%= new_collection_path %>" class="home__btn">Create NFT’s</a>
 -->          </div>
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <div class="banner_sec">
        <div class="youtube-video">
        <iframe width="1081" height="608" src="https://www.youtube.com/embed/0dMcJq9laOU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>     
          </div>
        <%#= image_tag "/assets/banner.png"%>
        </div>
      </div>
  
    </div>
  </div>
</div>